#root {
  margin: 0 auto;
  text-align: center;
  height: max-content;
  width: 100vw;
  overflow: visible;
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  background-image: url("../images/dna_image.webp");
  caret-color: transparent;
}
