.casesHeading {
  position: sticky;
  width: 100vw;
  left: 35px;
  text-align: start;
  font-family: "Play", sans-serif;
  color: var(--text);
  margin-right: -35px;
  margin-bottom: 110px;
}

@media (min-width: 900px) {
  .casesHeading {
    position: relative;
    width: 900px;
    display: flex;
    text-align: center;
    margin-right: 0;
  }
}

.casesSearch {
  width: 100vw;
  position: sticky;
  left: 0%;
  overflow: visible;
  margin-bottom: 50px;
}

.casesPrimaryButton {
  display: inline-flex;
  justify-content: center;
  font-family: "Play", sans-serif;
  color: white;
  background-color: #3b9194;
  padding: 8px 2px;
  width: 75px;
  border-radius: 25px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.casesPrimaryButton:hover {
  animation: pulsate 1s ease;
}

@-webkit-keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  50% {
    box-shadow: 0 0 0 0.4em #3b919460;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}

.casesSearch input {
  border: none;
  margin-right: 10px;
  outline: none;
  background-color: lightgray;
  height: 31px;
  border-radius: 25px;
  text-indent: 5px;
}

table {
  padding-top: 50px;
  border-spacing: 1px;
  table-layout: fixed;
  width: 900px;
  border-collapse: collapse;
}

.casesContainer {
  align-items: center;
  padding-top: 100px;
  overflow: visible;
  width: fit-content;
  background-color: white;
}

@media (min-width: 900px) {
  .casesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 900px;
  }
}

.casesTable th {
  text-wrap: nowrap;
  font-family: "Play";
  border-bottom: 2px solid var(--primary);
}

th,
td {
  padding: 15px;
  color: var(--text);
}

.casesPageContainer {
  width: 100vw;
  position: sticky;
  left: 0%;
  overflow: visible;
}

.casesPageIcons {
  display: inline-flex;
  gap: 20%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.pageIcon {
  color: var(--primary);
  height: 30px;
  cursor: pointer;
}
