:root {
  /* Colour variables */
  --primary: #880837;
  --text: #383838;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
  display: block;
  overflow: visible;
}

p {
  color: var(--text);
}

body {
  margin: 0;
  display: block;
  place-items: center;
  width: 500px;
  height: 100vh;
  overflow: visible;
}
